.customers {
  margin: 15px;
}

.customers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1.5rem;
  margin: 2rem;
}

.customers-container .box {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 0.5rem;
  text-align: center;
}

.customers-container .box p {
  font-size: 0.9rem;
}

.customers-container .box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.customers-container .box img {
  display: flex;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.customers-container .box:hover {
  background: transparent;
  transition: all 0.25s linear;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
}

.footer h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social-media a {
  font-size: 25px;
  padding: 10px;
  color: var(--text-color);
  background: var(--main-color);
  border-radius: 1rem;
}

.social-media a:hover {
  opacity: 0.7;
  transition: all 0.2s linear;
}

.footer-box li a {
  color: var(--text-color);
}

.footer-box li a:hover {
  color: var(--main-color);
}

.contact span {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.contact i {
  font-size: 20px;
  margin-right: 0.5rem;
  color: var(--main-color);
}

.copyright {
  padding: 20px;
  font-weight: 600;
  text-align: center;
  background: var(--main-color);
}
