@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "EB Garamond", serif;
}

:root {
  --main-color: #cd9567;
  --bg-color: #e8b184;
  --text-color: #fff;
  --second-color: #000000;
}

body {
  background-color: var(--main-color);
}

img {
  width: 100%;
}

header {
  background-color: var(--second-color);
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
}

.logo img {
  width: 80px;
  border-radius: 5rem;
  border: 2px solid var(--text-color);
  transition: all 0.15s linear;
}

.logo img:hover{
  border-color: var(--main-color);
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  transition: 0.25s all linear;
}

.navbar ul li a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: var(--main-color);
  transition:  all 0.25s linear;
}

.navbar ul li a:hover::after{
  width: 100%;
}

.navbar ul li a:hover {
  color: var(--main-color);
}

.header-icons{
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  column-gap: 1rem;
  cursor: pointer;
  transition: all 1.25s linear;
  }

.header-icons i:hover{
  color: var(--main-color);
}