@import url(header_and_menu.css);
@import url(home_page.css);
@import url(about_and_products_page.css);
@import url(customers_footer_page.css);
@import url(sizing.css);

:root {
    --main-color: #cc8431;
    --bg-color: #e8b184;
    --text-color: #fff;
    --second-color: #000000;
  }
  